@import "../../../variables";

.searchContainer {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-left: 20px;

  @include max-media(xs) {
    margin: 0;
    width: 100%;
  }
}

.btnBlock {
  margin-top: 20px;
}

.content {
  display: flex;

  @include max-media(xs) {
    flex-direction: column;
    width: 100%;

    .searchContainer {
      width: 100%;

      & > div {
        width: 100%;
      }
    }
  }
}