@import "../../variables";

.mainStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $lite-blue-gradient;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.openSideBar {
  overflow: hidden;
}