.head{
  width: -webkit-fill-available;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background:-webkit-linear-gradient(85deg, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);
  box-shadow: 0 0 20px rgb(108, 108, 108);
  z-index: 1;
  
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
    & > div{
      color: black;
      font-weight: 600;
    }

    & > span{
      font-size: 35px;
      margin-right: 10px;
    }
  }

  .rightMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;

    & > div{
      cursor: pointer;
      font-weight: 600;
      color: black;
    }
  }
}