.head{
  width: -webkit-fill-available;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background: #0B7FE6;
  box-shadow: 0 0 20px rgb(108, 108, 108);
  z-index: 1;
  
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
    & > div{
      color: white;
      font-weight: 600;
    }

    & > span{
      font-size: 35px;
      margin-right: 10px;
      color: white;
    }
  }

  .rightMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;

    & > div{
      cursor: pointer;
      font-weight: 600;
      color: white;
    }
  }
}