@import "../../variables";

.main {
  position: absolute;
  top: 43px;
  left: 0;
  box-shadow: 0 0 5px;
  width: 100%;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;
  color: #989898;
  z-index: 3;

  .nameList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid $grayC9;
    cursor: pointer;
    min-height: 40px;
    box-sizing: border-box;
    font-size: 16px;

    .item {
      display: flex;
      flex-direction: column;

      >:first-child {
        font-size: 17px;
        text-align: center;

        & p {
          margin: 0;
        }
      }

      >:last-child {
        text-align: center;
        font-size: 13px;
        color: $grayC2;
      }
    }


    &:hover {
      background-color: $grayE2;
    }
  }

}