.content {
  width: 100%;
  height: 90vh;
  background: transparent;
  perspective-origin: center;
  perspective: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .weatherPanel {
    box-sizing: border-box;
    padding: 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 50px black;
    animation-name: one;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background: linear-gradient(326deg, #22c1c3 0%, #672dfd 100%);

    .currentWeather { //1 блок
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid;
      padding-bottom: 30px;

      .leftInfo {
        font-size: 30px;

        .descriptionWeather {
          display: flex;
        }
      }

      .rightInfo {
        font-size: 90px;
      }

      .iconWeather {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;

        & svg {
          width: 40px;
          height: 40px;
        }
      }
    }

    .hourly {//2 блок
      border-bottom: 1px solid;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;

      .iconHourse {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .dayWeather {
        .times {
          display: flex;
          justify-content: space-around;

          .itemTime {
            font-size: 15px;
          }
        }

        .tempHourse {
          display: flex;
          justify-content: space-around;
        }
      }
    }

    .week {//3 блок
      border-bottom: 1px solid;
      display: flex;
      padding: 20px 0;

      .leftInfoWeek {
        border-right: 1px solid;
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 0 20px;

        .day {
          margin-right: 20px;
        }

        .numMouth {
          min-width: 140px;
        }
      }

      .rightInfoWeek {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
      }

      .moreInformation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        white-space: nowrap;
      }
    }
  }

  .errorContent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
    padding: 30px;
    border-radius: 15px;
    color: grey;

    & svg {
      margin-right: 10px;

      path {
        fill: red;
      }
    }
  }
}

@keyframes one{

  0%{
    transform: rotateX(20deg);
  }

  100%{
    transform: rotateX(0deg);
  }
}
