.content {
  width: -webkit-fill-available;
  height: 90vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .weatherPanel {
    width: 80%;
    height: 70%;
    background: url("https://www.schladming-dachstein.at/A-Z_Liste/Groebminger%20Land/Lilabunt%20%26amp%3B%20Himmelblau/himmelblau.jpg") no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    padding: 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 50px grey;
    min-width: 890px;

    .currentWeather {//1 блок
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid;
      padding-bottom: 30px;

      .leftInfo {
        font-size: 30px;
      }

      .rightInfo {
        font-size: 90px;
      }
    }

    .hourly {//2 блок
      border-bottom: 1px solid;
      height: 100px;
    }

    .week {//3 блок
      border-bottom: 1px solid;
      display: flex;
      padding: 20px 0;

      .leftInfoWeek {
        border-right: 1px solid;
        display: flex;
        justify-content: space-between;
        width: 50%;
      }

      .rightInfoWeek {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
