//resolution
$mobile:  575px;
$tablet: 767px;
$landscape: 991px;
$desktop: 1200px;


//colors
$white: white;
$lite-gray: #cbcbcb;
$blue: #0059AD;
$blue006: #0068d0;
$black: black;
$red: red;
$gray: grey;
$grayC9: #c9c9c9;
$grayC2: #c2c2c2;

//gradients
$blue-gradient: linear-gradient(326deg, #22c1c3 0%, #672dfd 100%);
$lite-blue-gradient: linear-gradient(349deg, #7ed5ff 0%, #ffffff00 100%);