@import "../../variables";

.content {
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;

  @include max-media(xs) {
    width: 100%;
    height: 100vh;
  }

  .root {
    width: 500px;
    height: 500px;
    perspective-origin: center;
    perspective: 500px;

    @include max-media(xs) {
      width: 100%;
      height: 100%;
    }

    .settingsBlock {
      border-radius: 20px;
      background: $blue-gradient;
      width: 500px;
      height: 500px;
      animation-name: settingsBlock;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      box-shadow: 0 0 50px $black;
      padding: 20px;
      box-sizing: border-box;

      @include max-media(xs) {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
      }

      .leftContent {
        display: flex;
        align-items: center;

        .description {
          font-size: 25px;
          font-weight: bold;
          margin-left: 15px;

          @include max-media(xs) {
            font-size: 17px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

@include min-media(xs) {
  @keyframes settingsBlock {
    0%{
      transform: rotateX(20deg);
    }
    100%{
      transform: rotateX(0deg);
    }
  }
}