@import "../../variables";

.head {
  width: 100vw;
  height: 80px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  background: $side-bar-gradient;
  box-shadow: 0 0 20px $black;
  box-sizing: border-box;

  @include max-media(xs) {
    box-shadow: none;
    padding: 0 15px;
    border-bottom: 1px solid $white;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &>:first-child {
      min-width: 48px;
    }

    & > div {
      color: $white;
      font-weight: 600;
    }

    & > span {
      font-size: 35px;
      margin-right: 10px;
      color: $white;
    }

    .nameApp {
      @include max-media(xs) {
        display: none;
      }
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 50px;

    @include max-media(xs) {
      margin: 0 10px;
    }
  }

  .rightMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a:first-child {
      margin-right: 30px;

      // &:hover {
      //   transform: scale(1.2, 1.2);
      // }
    }

    // a:last-child {
    //   transform: rotate(0deg);
    // }

    // & a:hover {
    //   &:last-child {
    //     transition: 0.5s;
    //     transform: rotate(27deg);
    //   }
    // }

    & > a {
      cursor: pointer;
      font-weight: 600;
      color: $white;
      text-decoration: none;
      background: transparent;
      transition: 0.5s;

      & svg {
        path {
          fill: $white;
        }
      }
    }

    @include max-media(xs) {
      display: none;
    }
  }

  .rightMenuMobile {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      fill: $white;
      cursor: pointer;
    }

    @include min-media(xs) {
      display: none;
    }
  }
}