@import "../../variables";

.content {
  height: 90vh;
  display: flex;
  align-items: center;

  .settingsBlock {
    border-radius: 20px;
    background: $blue-gradient;
    width: 500px;
    height: 500px;
    animation-name: one;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 0 0 50px $black;
    padding: 20px;
    box-sizing: border-box;

    .leftContent {
      display: flex;
      align-items: center;

      .description {
        font-size: 25px;
        font-weight: bold;
        margin-left: 15px;
      }
    }
  }
}

@keyframes one {
  0%{
    transform: rotateX(20deg);
  }
  100%{
    transform: rotateX(0deg);
  }
}