//resolution
$xs:  575px;
$sm: 767px;
$lg: 991px;
$md: 1280px;
$xl: 1440px;


@mixin max-media($media) {
  @if $media == xl {
    @media screen and (max-width: $xl) {
      @content;
    }
  } @else if $media == lg {
    @media screen and (max-width: $lg) {
      @content;
    }
  } @else if $media == md {
    @media screen and (max-width: $md) {
      @content;
    }
  } @else if $media == sm {
    @media screen and (max-width: $sm) {
      @content;
    }
  } @else if $media == xs {
    @media screen and (max-width: $xs ) {
      @content;
    }
  }
}

@mixin min-media($media) {
  @if $media == xl {
    @media only screen and (min-width: $xl) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (min-width: $lg) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (min-width: $md) {
      @content;
    }
  } @else if $media == sm {
    @media only screen and (min-width: $sm) {
      @content;
    }
  } @else if $media == xs {
    @media only screen and (min-width: $xs) {
      @content;
    }
  }
}


//colors
$white: white;
$lite-gray: #cbcbcb;
$blue: #0059AD;
$blue006: #0068d0;
$black: black;
$red: red;
$gray: grey;
$grayC9: #c9c9c9;
$grayC2: #c2c2c2;
$grayE2: #e2e2e2;

//gradients
$blue-gradient: linear-gradient(326deg, #22c1c3 32%, #ae3fff 100%);
$lite-blue-gradient: linear-gradient(349deg, #7ed5ff 0%, #ffffff00 100%);
$side-bar-gradient: linear-gradient(359deg, #22c1c3 -30%, #672dfd 100%);