.head {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background: #0059AD;
  box-shadow: 0 0 20px black;
  z-index: 1;
  box-sizing: border-box;
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    & > div {
      color: white;
      font-weight: 600;
    }

    & > span {
      font-size: 35px;
      margin-right: 10px;
      color: white;
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 50px;
  }

  .rightMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;

     a:first-child {
      margin-right: 30px;

       &:hover {
         transform: scale(1.2,1.2);
       }
    }

    a:last-child {
      transform: rotate(0deg);
    }

    & a:hover {
      &:last-child{
        transition: 0.5s;
        transform: rotate(27deg);
      }
    }

    & > a {
      cursor: pointer;
      font-weight: 600;
      color: white;
      text-decoration: none;
      background: transparent;
      transition: 0.5s;

      & svg {
        path {
          fill: white;
        }
      }
    }
  }
}